<section id="about" class="about-section">
  <div class="about-container">
    <div class="about-image">
      <img src="../../../assets/images/perfil.png" alt="Avatar de Priscila Pacheco">
    </div>
    <div class="about-content">
      <h2>Olá! Eu sou a Priscila Pacheco</h2>
      <h3>Sua especialista em mídias sociais</h3>
      <p>Minha história é sobre reinvenção e paixão. Formada em Química Industrial, encontrei no universo digital o "match" perfeito entre a análise de dados e a criatividade. Em 2024, decidi canalizar minha habilidade analítica para um novo desafio: o marketing digital.</p>
      <p>Tudo começou com um projeto pessoal, criando conteúdo e desvendando os segredos do algoritmo do Instagram. A satisfação em ver o engajamento crescer me impulsionou a buscar conhecimento de ponta. Especializei-me em Social Media, Tráfego Pago e Copywriting pela Cyberclass e atualmente estou aprofundando meus estudos em uma pós-graduação de Marketing Digital e Social Media.</p>
      <p>A bagagem adquirida em projetos iniciais me proporcionou o portfólio e a confiança para atender clientes de diversos setores. Hoje, tenho o prazer de colaborar com uma hamburgueria em Portugal e outros parceiros no Brasil, provando que uma boa estratégia digital não conhece fronteiras.</p>
      <p>Estou em constante aprendizado, sempre buscando as últimas inovações para garantir que sua marca não apenas participe, mas se destaque nas redes sociais. Meu objetivo é claro: traçar o melhor plano para que sua empresa atinja resultados extraordinários.</p>
    </div>
  </div>
</section>
