<section class="hero-section">
  <div class="hero-content">
    <h1>Transforme sua presença nas redes sociais com uma especialista dedicada</h1>
    <p>Deixe a estratégia, criação de conteúdo e crescimento do seu perfil comigo e foque no que você faz de melhor: gerenciar o seu negócio.</p>
    <a href="https://wa.me/5548988661571?text=Ol%C3%A1%2C%20vim%20pelo%20seu%20site." target="_blank" class="hero-cta">Agende uma Consultoria Gratuita</a>
  </div>
  <div class="hero-image">
    <img src="../../../assets/images/hero-image.png" alt="Avatar de Priscila Pacheco" width="400">
  </div>
</section>
